/**
 * Copyright MyCommonSenseFinancial @2017
 * All rights reserved.
 */
/* 
    Created on : Feb 27, 2017, 7:52:15 AM
    Author     : snielson
*/
/** Reset the hover with more specificity so we can only enable it on click
**/
.sub_affiliate_node 
    ul.affwp-mlm-aff-data-wrap:hover ul.affwp-mlm-aff-data {
    display: none;
    text-align: center;
}

.sub_affiliate_node.sub_affiliate_node_selected 
    ul.affwp-mlm-aff-data-wrap ul.affwp-mlm-aff-data {
    display: block; /* visibility: visible; */
    min-width: 16em;
    padding: 1em 0!important;
    float: left;
    position: relative;
    left: -2.5em;
    text-align: center;
    background: #fff;
    border: 2px solid;
}

ul.affwp-mlm-aff-data-wrap i {font-size: 1.5em;}
ul.affwp-mlm-aff-data-wrap ul.affwp-mlm-aff-data {
	display: none; /* visibility: hidden; */     
    text-align: center;
} 
ul.affwp-mlm-aff-data-wrap:hover ul.affwp-mlm-aff-data {
	display: block; /* visibility: visible; */
	min-width: 16em;
	padding: 1em 0!important;
    float: left;
	position: relative;
	left: -2.5em;
	text-align: center;
    background: #fff;
    border: 2px solid;
}